/* Sections */

section {
    position: relative;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: flex-start;
}

.content {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: var(--space-6) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 0 var(--space-3);
}

.content .content__tag {
    margin-top: 0;
    font-size: 1em;
    color: rgb(var(--green-brand-color));
}

.content .content__title {
    margin: var(--space-1) var(--space-4) var(--space-4) 0;
    font-size: 7.5vw;
    font-weight: 700;
}

.content .content__description {
    color: rgb(var(--description-color));
    margin-top: 0;
}

@media (min-width: 768px) {
    .content {
        flex-direction: row;
    }
}

/* Curves */

.top-curve:before, .bottom-curve:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100vw;
    height: 60px;
    background: #fff;
    border-radius: 30px 30px 0 0;
    z-index: 2;
}

.top-curve:before {
    top: -60px;
    box-shadow: 0 -90px 98px -135px #000;
}

.bottom-curve:after {
    bottom: -200px;
    border-radius: 0 0 30px 30px;
}

@media (min-width: 768px) {
    .top-curve:before, .bottom-curve:after {
        height: 33.333vw;
        border-radius: 50% 50% 0 0;
        transform: scaleX(1.1);
    }
    .top-curve:before {
        top: -200px;
        box-shadow: 0 -90px 98px -135px #000;
    }
    .bottom-curve:after {
        bottom: -200px;
        border-radius: 0 0 50% 50%;
    }
}

/* Hero Section*/

#hero {
    background-color: rgb(var(--background-color));
    background: url(/img/v2/backgrounds/gradient-purple-bg.png) no-repeat;
    color: white;
    background-size: cover;
    padding: var(--space-8) 0 calc(60 * 2px);
}

#hero .content__title small {
    font-size: 5vw;
    font-weight: 500;
    display: block;
    margin-top: var(--space-2);
}

#hero .content__description {
    color: #ADADB9;
    margin-bottom: var(--space-6);
}

#hero .cta {
    margin-bottom: var(--space-7);
}

#hero .cta .btn {
    width: 100%;
}

#hero .video {
    width: 100%;
    padding: var(--space-4);
    background: radial-gradient(circle, rgba(var(--green-brand-color), 0.3), rgb(var(--background-color)) 70%);
}

@media (min-width: 768px) {
    #hero h1 {
        font-size: 3em;
    }
    #hero h1 small {
        font-size: 80%;
    }
    #hero .cta .btn {
        width: auto;
        display: inline-block;
    }
}

/* How it works */

#how-it-works {
    padding-bottom: 500px;
    background: #fff;
}

#how-it-works .intro {
    display: flex;
    flex-direction: column;
}

#how-it-works .intro .content__title {
    font-size: 6.5vw;
    font-weight: 600;
}

#how-it-works .infographic {
    display: flex;
    flex-direction: column;
}

#how-it-works .infographic .card {
    position: relative;
}

#how-it-works .infographic .card .heading {
    font-weight: bold;
}

#how-it-works .infographic .card .description {
    color: rgb(var(--description-color));
    font-size: 0.8em;
    line-height: 140%;
}

#how-it-works .infographic .card__image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#how-it-works .infographic .card__image img {
    display: block;
    max-width: calc(100% - 40px);
    padding: 0 20px;
}

#how-it-works .infographic .card__image .arrow {
    font-size: 3em;
    color: rgb(var(--green-brand-color));
    width: 20px;
}

#how-it-works .infographic .card__image .arrow--right:before {
    content: '\2193';
}

#how-it-works .infographic .card__image .arrow--left:before {
    color: rgba(var(--green-brand-color), 0.5);
    content: '\2191';
}

@media (min-width: 768px) {
    #how-it-works .text .heading {
        width: 50%;
    }
    #how-it-works .text .description {
        width: 50%;
        line-height: 150%;
        color: rgb(var(--description-color));
        font-size: 0.9em;
    }
    #how-it-works .infographic .card {
        max-width: 300px;
    }
    #how-it-works .infographic .connection {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #how-it-works .infographic .connection .right-arrow {
        color: rgb(var(--green-brand-color));
        font-size: 4em;
        margin-top: 0;
    }
    #how-it-works .infographic .connection .left-arrow {
        color: rgba(var(--green-brand-color), 0.5);
        font-size: 4em;
    }
}

/* Who We Are */

#who-we-are {
    background: grey;
}

#who-we-are.top-curve:before, #who-we-are.bottom-curve:after {
    background-color: grey;
}

#who-we-are .content {
    margin-right: var(--space-2);
}

#who-we-are .video video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}