<!DOCTYPE html>
<html>

<head>
    <title>Another simple example</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles2.css" />
</head>

<body>
    <main>
        <section class="highlight section-1">
            <div class="content">
                <h2>Content</h2>
                <p>Lorem iupsum</p>
                <p>Lorem iupsum</p>
                <p>Lorem iupsum</p>
                <p>Lorem iupsum</p>
                <p>Lorem iupsum</p>
                <p>Lorem iupsum</p>
                <p>Lorem iupsum</p>
                <p>Lorem iupsum</p>
                <p>Lorem iupsum</p>
                <p>Lorem iupsum</p>
            </div>
        </section>

        <section class="section-2 top-curve">
            <div class="content">
                <h2>Content</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id sem egestas, pellentesque velit
                    quis,
                    fermentum nulla. Donec non felis sed mauris porta vehicula eu in elit. Pellentesque ut tortor
                    sollicitudin, egestas arcu ac, dapibus lectus. Donec varius massa at augue vulputate, aliquet luctus
                    nibh aliquam. Aliquam ante leo, consectetur sed quam vel, feugiat finibus dolor. Donec dignissim
                    elit a
                    est vehicula, in ultricies risus efficitur. Praesent dapibus enim ut rutrum malesuada. Nam eget
                    dictum
                    nibh. Donec accumsan nisi et lorem malesuada tincidunt.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id sem egestas, pellentesque velit
                    quis,
                    fermentum nulla. Donec non felis sed mauris porta vehicula eu in elit. Pellentesque ut tortor
                    sollicitudin, egestas arcu ac, dapibus lectus. Donec varius massa at augue vulputate, aliquet luctus
                    nibh aliquam. Aliquam ante leo, consectetur sed quam vel, feugiat finibus dolor. Donec dignissim
                    elit a
                    est vehicula, in ultricies risus efficitur. Praesent dapibus enim ut rutrum malesuada. Nam eget
                    dictum
                    nibh. Donec accumsan nisi et lorem malesuada tincidunt.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id sem egestas, pellentesque velit
                    quis,
                    fermentum nulla. Donec non felis sed mauris porta vehicula eu in elit. Pellentesque ut tortor
                    sollicitudin, egestas arcu ac, dapibus lectus. Donec varius massa at augue vulputate, aliquet luctus
                    nibh aliquam. Aliquam ante leo, consectetur sed quam vel, feugiat finibus dolor. Donec dignissim
                    elit a
                    est vehicula, in ultricies risus efficitur. Praesent dapibus enim ut rutrum malesuada. Nam eget
                    dictum
                    nibh. Donec accumsan nisi et lorem malesuada tincidunt.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id sem egestas, pellentesque velit
                    quis,
                    fermentum nulla. Donec non felis sed mauris porta vehicula eu in elit. Pellentesque ut tortor
                    sollicitudin, egestas arcu ac, dapibus lectus. Donec varius massa at augue vulputate, aliquet luctus
                    nibh aliquam. Aliquam ante leo, consectetur sed quam vel, feugiat finibus dolor. Donec dignissim
                    elit a
                    est vehicula, in ultricies risus efficitur. Praesent dapibus enim ut rutrum malesuada. Nam eget
                    dictum
                    nibh. Donec accumsan nisi et lorem malesuada tincidunt.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id sem egestas, pellentesque velit
                    quis,
                    fermentum nulla. Donec non felis sed mauris porta vehicula eu in elit. Pellentesque ut tortor
                    sollicitudin, egestas arcu ac, dapibus lectus. Donec varius massa at augue vulputate, aliquet luctus
                    nibh aliquam. Aliquam ante leo, consectetur sed quam vel, feugiat finibus dolor. Donec dignissim
                    elit a
                    est vehicula, in ultricies risus efficitur. Praesent dapibus enim ut rutrum malesuada. Nam eget
                    dictum
                    nibh. Donec accumsan nisi et lorem malesuada tincidunt.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id sem egestas, pellentesque velit
                    quis,
                    fermentum nulla. Donec non felis sed mauris porta vehicula eu in elit. Pellentesque ut tortor
                    sollicitudin, egestas arcu ac, dapibus lectus. Donec varius massa at augue vulputate, aliquet luctus
                    nibh aliquam. Aliquam ante leo, consectetur sed quam vel, feugiat finibus dolor. Donec dignissim
                    elit a
                    est vehicula, in ultricies risus efficitur. Praesent dapibus enim ut rutrum malesuada. Nam eget
                    dictum
                    nibh. Donec accumsan nisi et lorem malesuada tincidunt.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id sem egestas, pellentesque velit
                    quis,
                    fermentum nulla. Donec non felis sed mauris porta vehicula eu in elit. Pellentesque ut tortor
                    sollicitudin, egestas arcu ac, dapibus lectus. Donec varius massa at augue vulputate, aliquet luctus
                    nibh aliquam. Aliquam ante leo, consectetur sed quam vel, feugiat finibus dolor. Donec dignissim
                    elit a
                    est vehicula, in ultricies risus efficitur. Praesent dapibus enim ut rutrum malesuada. Nam eget
                    dictum
                    nibh. Donec accumsan nisi et lorem malesuada tincidunt.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id sem egestas, pellentesque velit
                    quis,
                    fermentum nulla. Donec non felis sed mauris porta vehicula eu in elit. Pellentesque ut tortor
                    sollicitudin, egestas arcu ac, dapibus lectus. Donec varius massa at augue vulputate, aliquet luctus
                    nibh aliquam. Aliquam ante leo, consectetur sed quam vel, feugiat finibus dolor. Donec dignissim
                    elit a
                    est vehicula, in ultricies risus efficitur. Praesent dapibus enim ut rutrum malesuada. Nam eget
                    dictum
                    nibh. Donec accumsan nisi et lorem malesuada tincidunt.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id sem egestas, pellentesque velit
                    quis,
                    fermentum nulla. Donec non felis sed mauris porta vehicula eu in elit. Pellentesque ut tortor
                    sollicitudin, egestas arcu ac, dapibus lectus. Donec varius massa at augue vulputate, aliquet luctus
                    nibh aliquam. Aliquam ante leo, consectetur sed quam vel, feugiat finibus dolor. Donec dignissim
                    elit a
                    est vehicula, in ultricies risus efficitur. Praesent dapibus enim ut rutrum malesuada. Nam eget
                    dictum
                    nibh. Donec accumsan nisi et lorem malesuada tincidunt.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id sem egestas, pellentesque velit
                    quis,
                    fermentum nulla. Donec non felis sed mauris porta vehicula eu in elit. Pellentesque ut tortor
                    sollicitudin, egestas arcu ac, dapibus lectus. Donec varius massa at augue vulputate, aliquet luctus
                    nibh aliquam. Aliquam ante leo, consectetur sed quam vel, feugiat finibus dolor. Donec dignissim
                    elit a
                    est vehicula, in ultricies risus efficitur. Praesent dapibus enim ut rutrum malesuada. Nam eget
                    dictum
                    nibh. Donec accumsan nisi et lorem malesuada tincidunt.</p>
            </div>

        </section>

        <section class="section-3 top-curve bottom-curve">
            <div class="content">
                <h2>Content</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id sem egestas, pellentesque velit
                    quis,
                    fermentum nulla. Donec non felis sed mauris porta vehicula eu in elit. Pellentesque ut tortor
                    sollicitudin, egestas arcu ac, dapibus lectus. Donec varius massa at augue vulputate, aliquet luctus
                    nibh aliquam. Aliquam ante leo, consectetur sed quam vel, feugiat finibus dolor. Donec dignissim
                    elit a
                    est vehicula, in ultricies risus efficitur. Praesent dapibus enim ut rutrum malesuada. Nam eget
                    dictum
                    nibh. Donec accumsan nisi et lorem malesuada tincidunt.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id sem egestas, pellentesque velit
                    quis,
                    fermentum nulla. Donec non felis sed mauris porta vehicula eu in elit. Pellentesque ut tortor
                    sollicitudin, egestas arcu ac, dapibus lectus. Donec varius massa at augue vulputate, aliquet luctus
                    nibh aliquam. Aliquam ante leo, consectetur sed quam vel, feugiat finibus dolor. Donec dignissim
                    elit a
                    est vehicula, in ultricies risus efficitur. Praesent dapibus enim ut rutrum malesuada. Nam eget
                    dictum
                    nibh. Donec accumsan nisi et lorem malesuada tincidunt.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id sem egestas, pellentesque velit
                    quis,
                    fermentum nulla. Donec non felis sed mauris porta vehicula eu in elit. Pellentesque ut tortor
                    sollicitudin, egestas arcu ac, dapibus lectus. Donec varius massa at augue vulputate, aliquet luctus
                    nibh aliquam. Aliquam ante leo, consectetur sed quam vel, feugiat finibus dolor. Donec dignissim
                    elit a
                    est vehicula, in ultricies risus efficitur. Praesent dapibus enim ut rutrum malesuada. Nam eget
                    dictum
                    nibh. Donec accumsan nisi et lorem malesuada tincidunt.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id sem egestas, pellentesque velit
                    quis,
                    fermentum nulla. Donec non felis sed mauris porta vehicula eu in elit. Pellentesque ut tortor
                    sollicitudin, egestas arcu ac, dapibus lectus. Donec varius massa at augue vulputate, aliquet luctus
                    nibh aliquam. Aliquam ante leo, consectetur sed quam vel, feugiat finibus dolor. Donec dignissim
                    elit a
                    est vehicula, in ultricies risus efficitur. Praesent dapibus enim ut rutrum malesuada. Nam eget
                    dictum
                    nibh. Donec accumsan nisi et lorem malesuada tincidunt.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id sem egestas, pellentesque velit
                    quis,
                    fermentum nulla. Donec non felis sed mauris porta vehicula eu in elit. Pellentesque ut tortor
                    sollicitudin, egestas arcu ac, dapibus lectus. Donec varius massa at augue vulputate, aliquet luctus
                    nibh aliquam. Aliquam ante leo, consectetur sed quam vel, feugiat finibus dolor. Donec dignissim
                    elit a
                    est vehicula, in ultricies risus efficitur. Praesent dapibus enim ut rutrum malesuada. Nam eget
                    dictum
                    nibh. Donec accumsan nisi et lorem malesuada tincidunt.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id sem egestas, pellentesque velit
                    quis,
                    fermentum nulla. Donec non felis sed mauris porta vehicula eu in elit. Pellentesque ut tortor
                    sollicitudin, egestas arcu ac, dapibus lectus. Donec varius massa at augue vulputate, aliquet luctus
                    nibh aliquam. Aliquam ante leo, consectetur sed quam vel, feugiat finibus dolor. Donec dignissim
                    elit a
                    est vehicula, in ultricies risus efficitur. Praesent dapibus enim ut rutrum malesuada. Nam eget
                    dictum
                    nibh. Donec accumsan nisi et lorem malesuada tincsssidunt.</p>
            </div>
        </section>

        <section class="section-4 highlight">
            <div class="content">
                <h2>Content</h2>
                <p>Lorem iupsum</p>
                <p>Lorem iupsum</p>
                <p>Lorem iupsum</p>
                <p>Lorem iupsum</p>
                <p>Lorem iupsum</p>
                <p>Lorem iupsum</p>
                <p>Lorem iupsum</p>
                <p>Lorem iupsum</p>
                <p>Lorem iupsum</p>
                <p>Lorem iupsum</p>
            </div>
        </section>
    </main>
</body>

</html>